/*Univ Nav*/

.grid_1 { width: 6.5%; } /* 65px/1000px = 0.065px */
.grid_2 { width: 15%; } /* 150px/1000px =  0.15px */
.grid_3 { width: 23.5%; } /* 235px/1000px = 0.235px */
.grid_4 { width: 32%; } /* 320px/1000px = 0.32px */
.grid_5 { width: 40.5%; } /* 405px/1000px = 0.405px */
.grid_6 { width: 49%; } /* 490px/1000px = 0.49px */
.grid_7 { width: 57.5%; } /* 575px/1000px = 0.575px */
.grid_8 { width: 66%; } /* 660px/1000px = 0.66px */
.grid_9 { width: 74.5%; } /* 745px/1000px = 0.745px */
.grid_10 { width: 83%; } /* 830px/1000px = 0.83px */
.grid_11 { width: 91.5%; } /* 915px/1000px = 0.915px */
.grid_12 { width: 100%; } /* 1000px/1000px = 1 */

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	margin: 0 1% 1% 0;
	float: right;
	display: block;
}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}


.home{
margin: auto;
width: 960px;
}

.container{
margin: auto;
width: 960px;
}

body{
background: url("../images/brickwall.png");  	
}

#selfie{
width: 30%;	
margin-left: 30%;
}


/*======
NAVIGATION
====*/
nav li{
float: left;
list-style: none;
margin: 10px 20px 0 20px;
font-size: 1.2em;
position: relative;
font-family: tahoma;
top: -20px;
text-align: center;
border-radius: 20px;  
}


a:link{
padding: 20px;
color: red;
display: block;
width: 100px;
height: 50px;
text-align: center;
margin: auto;
}

a:visited{
color: #666;	
}

a:focus{
background: white;
}

nav a:hover{
-webkit-transition-property: border-radius;
-webkit-border-radius: 20px;
-moz-transition-property: border-radius;
-moz-border-radius: 20px;
color: red;
background: #Fff; 
height: 30px;
-webkit-transition: all .2s;
-moz-transition: all .2s;
transition: all .2s;
}

a:active{
color: red;
border: 2px solid white;
}  
/*End Nav*/



.logo{
width: 9%;
transition: 1s;	
}

.logo:hover{
-webkit-transform: scale(2) translateY(10px) rotate(360deg);
-moz-transform: scale(.5) rotate(360deg);
transform: scale(.5) ;
transition: 1s;	
}

/*Home page images*/
.tease{
width: 50%;	
}

.tease2{
width: 50%;	
float: right;
clear: both;
font-size: .8em;
}

.tease2 img{
position: relative;
left: 60px;
width: 80%;
height: 80%;
float: left;
clear: left;	
margin-top: 10px;
}

.tease img{
position: relative;
left: 60px;
width: 90%;
height: 90%;
float: left;
clear: left;	
margin-top: 10px;
}

/*End home page images*/

.home{
background-color: #CCC .5;
}

.intro{
float: right;
}

.foot{
float: left;
clear: both;
color: gray;
margin-top: 10px;
padding: 2px;
text-shadow: 1px 1px 1px #aaa;
position: relative;
display: block;
width: 100%;
-webkit-box-shadow: 0px -5px 11px rgba(70, 50, 50, 0.3);
-moz-box-shadow: 0px -5px 11px rgba(70, 50, 50, 0.3);
box-shadow: 0px -5px 11px rgba(70, 50, 50, 0.3);
height: 90px;
}

.foot li{
font-size: 1em;	
}

.foot a:hover{
color: green;	
}

/*=====Sprite
====*/
.sprite{
float: right;	
}

.sprite a{	
font-family: 'Trade Winds'; 
background: url("../images/sprite.png") no-repeat 0 0;
padding: 0 0 0 32px;
height: 32px;
display: block;
width: 46px;
-webkit-transition: all .5s; 
}

.sprite a:hover{
background-position: 0 -64px;
}
/*===end sprite
====*/

article{
margin-bottom: 40px;	
}

article img{
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;	
}

article img:hover{
-webkit-transform:scale(1.5);
-moz-transform: scale(1.5);
transform: scale(1.5);	
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;
}

h2{
clear: left;
font-family: verdana;
font-size: 1.3em;
position: relative;
}

.mission{
text-indent: 2%;
font-family: tahoma;
font-size: 1.3em;
}

span{
font-style: italic;	
}

h1{
position: relative;
font-size: 2.8em;
color: white;
display: inline;
font-family: 'Trade Winds';
text-shadow:5px 5px 13px rgba(104, 12, 21, 0.62);
width: 100%;
}

.head{
background-image: -moz-linear-gradient(bottom, #FFFFFF 0%, #EF9E9E 100%);
background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #FFFFFF), color-stop(1, #EF9E9E));
background-image: -webkit-linear-gradient(bottom, #FFFFFF 0%, #EF9E9E 100%); 
background-image: linear-gradient(to top, #FFFFFF 0%, #EF9E9E 100%);
width: 100%;
-webkit-box-shadow: 0px 3px 16px rgba(50, 50, 50, 0.69);
-moz-box-shadow: 0px 3px 16px rgba(50, 50, 50, 0.69);
box-shadow: 0px 3px 16px rgba(50, 50, 50, 0.69);
}

.head:after{
content:".";
display: block;
clear: both;
visibility: hidden;
}


/*Contact*/
.contact{
float: left;
clear: both;
position: relative;	
}

.contacthead{
font-size: 1.5em;	
}

form{
width: auto;	
}

.contactimg{
width: 80%;	
margin-top: 5%;
-webkit-transition: all 1s;
-moz-transition: all 1s;
}

.contactimg:hover{
-webkit-transform: scale(1.1);
-webkit-transition: 1s;	
-moz-transform: scale(1.1);
-moz-transition: 1s;	
}

/*Projects Page*/

.mission2{
float: left;
font-family: tahoma;
position: relative;
margin-bottom: 2%;
line-height: 1.2em;
font-size: 1.3em;
width: 80%;
text-indent: 2%;
}

.projectrow1{
posiiton: relative;
float: left;
height: 40%;
}

#featurecar{
width: 80%;	
margin: 0 auto;
}

.projectrow1 img{
float: left;
width: 100%;
height: 100%;
position: relative;
bottom: 600px;
right: 60%;
clear: both;
}

.fullsize{
position: relative;	
top: -400px;
left: -13%;
list-style: none;
}

.stress{
font-style: italic;	
}

.fullsize  img {
width: 80%;
position: absolute;
right: 0;
list-style: none;
margin: 0 auto;
}

/*=====
Carousel
======*/
.css-carousel {
width: 80%;
height: 550px; 
position: relative;
overflow: hidden;
}
.css-carousel .css-img {
max-width: 100%;
position: absolute;
background: white;
left: 0;
right: 0;
opacity: 0;
-webkit-animation: css-carousel-fade 30s linear infinite;
-moz-animation: css-carousel-fade 30s linear infinite;
animation: css-carousel-fade 30s linear infinite;
}
.css-carousel .css-img:nth-child(2) {
-webkit-animation-delay: 5s;
-moz-animation-delay: 5s;
animation-delay: 5s;
}
.css-carousel .css-img:nth-child(3) {
-webkit-animation-delay: 10s;
-moz-animation-delay: 10s;
animation-delay: 10s;
}
.css-carousel .css-img:nth-child(4) {
-webkit-animation-delay: 15s;
-moz-animation-delay: 15s;
animation-delay: 15s;
}
.css-carousel .css-img:nth-child(5) {
-webkit-animation-delay: 20s;
-moz-animation-delay: 20s;
animation-delay: 20s;
}
.css-carousel .css-img:nth-child(6) {
-webkit-animation-delay: 25s;
-moz-animation-delay: 25s;
animation-delay: 25s;
}
@-webkit-keyframes css-carousel-fade {
0%, 20%, 100% { opacity: 0; }
5%, 15% { opacity: 1;}
}
@-moz-keyframes css-carousel-fade {
0%, 20%, 100% { opacity: 0; }
5%, 15% { opacity: 1;}
}

@keyframes css-carousel-fade {
0%, 20%, 100% { opacity: 0; }
5%, 15% { opacity: 1;}
}

/*======
end of Carousel
======*/

@media screen and (max-width: 1024px){
.mission{width: 100%;}
#featurecar{width: 98%;}
.gallerybox{width: 70%; margin: 0 auto;}
.container{margin: 0 auto;}
article img:hover{
-webkit-transform:scale(1.25) translatey(10px);
-moz-transform: scale(1.25) translatey(10px);
transform: scale(1.25) translatey(10px);	
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;}
}

@media screen and (max-width: 916px){
p{width: 80%; float: left; margin: 1%;}
h1{width: 100%;}
h2{float: left; margin: 0 0 5% 0;}
a:visited{color: red;}
#selfie{ float: left; clear: left; padding-bottom: 7px;}
.home{width: 95%;}
.container{width: 95%;}
.gallerybox{width: 80%; margin: 0 auto;}
.fullsize{width: 80%;}
article{width: 89%;}
article img:hover{
-webkit-transform:scale(1.3) translatey(10px);
-moz-transform: scale(1.3) translatey(10px);
transform: scale(1.3) translatey(10px);	
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;}
#featurecar{width: 80%;}
}

@media screen and (max-width: 768px){
p{width: 80%; float: left; margin: 1%;}
h2{float: left; margin: 0 0 5% 0;}
a:visited{color: red;}
#selfie{ float: left; clear: left;}
.home{width: 95%;}
.container{width: 95%;}
h1{font-size: 1.8em;}
nav li{font-size: 1.1em; clear: left;}
.mission2{padding-bottom: 7px;}	
article img:hover{
-webkit-transform:scale(1.2) translatey(10px);
-moz-transform: scale(1.2) translatey(10px);
transform: scale(1.2) translatey(10px);	
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;}
}

@media screen and (max-width: 468px){
.mission{width: 100%;}
h1{font-size: 2em;}
h2{float: left; margin: 1% 0 5% 0;}
article img{clear: both; position: static;}
article img:hover{
-webkit-transform:scale(1.3) translatey(10px);
-moz-transform: scale(1.3) translatey(10px);
transform: scale(1.3) translatey(10px);	
-webkit-transition: 1s;
-moz-transition: 1s;
-transition: 1s;}
}